<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Product Id="*" Name="CGeoIPModule" Language="1033" Manufacturer="kimboslice99" Version="1.2.0.0" UpgradeCode="FECA01B4-96AC-414D-B389-2E210C8A0385">
		<Package Description="CGeoIPModule for IIS" InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
		<?if $(sys.BUILDARCH) = x64 ?>
		<?define Win64 = "yes" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?define ConfigFile = "[INETSVC64FOLDER]Config\applicationHost.config" ?>
		<?define AdministrationConfigFile = "[INETSVC64FOLDER]Config\administration.config" ?>
		<?else ?>
		<?define Win64 = "no" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?define ConfigFile = "[INETSVC32FOLDER]Config\applicationHost.config" ?>
		<?define AdministrationConfigFile = "[INETSVC32FOLDER]Config\administration.config" ?>
		<?endif ?>
		<Media Id="1" Cabinet="CGeoIPModule.cab" EmbedCab="yes" />

		<Condition Message="This application is already installed.">
			NOT Installed OR REMOVE="ALL"
		</Condition>

		<Property Id="IISINSTALLED">
			<RegistrySearch Id="CheckRegistryKey"
							Root="HKLM"
							Key="SOFTWARE\Microsoft\Inetstp"
							Name="VersionString"
							Type="raw" />
		</Property>

		<Condition Message="It would appear you do not have IIS installed!">
			<![CDATA[IISINSTALLED]]>
		</Condition>

		<Condition Message="64-bit operating system detected, please use the 64-bit installer.">
			<?if $(var.Win64) = "yes" ?>
			VersionNT64
			<?else ?>
			NOT VersionNT64
			<?endif ?>
		</Condition>

		<!-- Feature section that references the ComponentGroup -->
		<Feature Id="MainFeature" Title="Main Feature" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Product>

	<!-- Directory structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<?if $(var.Win64) = "yes" ?>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="CGeoIPModule"/>
			</Directory>
			<Directory Id="System64Folder">
				<Directory Id="INETSVC64FOLDER" Name="inetsrv">
					<Directory Id="CONFIGFOLDER" Name="config">
						<Directory Id="SCHEMADIRECTORY" Name="schema" />
					</Directory>
				</Directory>
			</Directory>
			<?else ?>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="CGeoIPModule" />
			</Directory>
			<Directory Id="SystemFolder">
				<Directory Id="INETSVC32FOLDER" Name="inetsrv">
					<Directory Id="CONFIGFOLDER" Name="config">
						<Directory Id="SCHEMADIRECTORY" Name="schema" />
					</Directory>
				</Directory>
			</Directory>
			<?endif ?>

			<Directory Id="GlobalAssemblyCache" Name="GlobalAssemblyCache">
				<Component Id="GeoIPModuleUI" Guid="{B07FF430-AAB4-49E6-8035-60142942F325}">
					<File Id="GeoIPModuleUI" Source="..\ui-src\bin\$(var.Configuration)\CGeoIPModuleUI.dll" KeyPath="yes" Assembly=".net"/>
				</Component>
			</Directory>
		</Directory>
	</Fragment>

	<!-- Define components for DLL and XML file -->
	<Fragment>
		<DirectoryRef Id="SCHEMADIRECTORY">
			<Component Id="CGeoIPModuleSchema" Guid="A997768B-7F92-45E8-A917-7077735DD5B3">
				<File Id="CGeoIPModule_schema.xml" Source="..\src\CGeoIPModule_schema.xml" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
		<!-- Component for CGeoIPModule.dll -->
		<?if $(var.Win64) = "yes" ?>
			<Component Id="CGeoIPModule" Guid="696E8B09-B421-45A9-B003-771C622D9DD6">
				<File Id="CGeoIPModule.dll" Source="..\src\x64\$(var.Configuration)\CGeoIPModule.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Id="CGeoIPModulex86" Guid="9D22088F-212C-4951-8A28-A0D91AD4B75B">
				<File Id="CGeoIPModulex86.dll" Source="..\src\x86\$(var.Configuration)\CGeoIPModule.dll" Name="CGeoIPModulex86.dll" KeyPath="yes" Checksum="yes" />
			</Component>
		<?else ?>
			<Component Id="CGeoIPModule" Guid="68921042-7473-400F-9760-C1B8C95DCEE1">
				<File Id="CGeoIPModule.dll" Source="..\src\x86\$(var.Configuration)\CGeoIPModule.dll" KeyPath="yes" Checksum="yes" />
			</Component>
		<?endif ?>
		</DirectoryRef>
	</Fragment>

	<!-- Product Components for Installation -->
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<!-- DLL and XML files -->
			<ComponentRef Id="CGeoIPModuleSchema" />

			<ComponentRef Id="CGeoIPModule" />

			<?if $(var.Win64) = "yes" ?>
			<ComponentRef Id="CGeoIPModulex86" />
			<?endif ?>
			<ComponentRef Id="GeoIPModuleUI" />
			<!-- Admin Module Configuration -->
			<ComponentRef Id="ModuleConfig" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<InstallExecuteSequence>
			<Custom Action="InstallModule" After="InstallInitialize">NOT Installed AND NOT REMOVE</Custom>
			<Custom Action="UninstallModule" Before="RemoveFiles">(REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)</Custom>
			<?if $(var.Win64) = "yes" ?>
			<Custom Action="InstallModulex64" After="InstallInitialize">NOT Installed AND NOT REMOVE</Custom>
			<Custom Action="UninstallModulex64" Before="RemoveFiles">(REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)</Custom>
			<?endif ?>
		</InstallExecuteSequence>
		<?if $(var.Win64) = "yes" ?>
		<CustomAction Id="InstallModulex64" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[System64Folder]inetsrv\appcmd.exe&quot; install module /name:&quot;CGeoIPModule&quot; /image:&quot;[APPLICATIONROOTDIRECTORY]CGeoIPModule.dll&quot; /preCondition:&quot;bitness64&quot; /lock:&quot;false&quot;" />
		<CustomAction Id="InstallModule" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[SystemFolder]inetsrv\appcmd.exe&quot; install module /name:&quot;CGeoIPModule (32-bit)&quot; /image:&quot;[APPLICATIONROOTDIRECTORY]CGeoIPModulex86.dll&quot; /preCondition:&quot;bitness32&quot; /lock:&quot;false&quot;" />
		<CustomAction Id="UninstallModulex64" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[System64Folder]inetsrv\appcmd.exe&quot; uninstall module /module.name:&quot;CGeoIPModule&quot;" />
		<CustomAction Id="UninstallModule" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[SystemFolder]inetsrv\appcmd.exe&quot; uninstall module /module.name:&quot;CGeoIPModule (32-bit)&quot;" />
		<?else ?>
		<CustomAction Id="InstallModule" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[SystemFolder]inetsrv\appcmd.exe&quot; install module /name:&quot;CGeoIPModule&quot; /image:&quot;[APPLICATIONROOTDIRECTORY]CGeoIPModule.dll&quot; /lock:&quot;false&quot;" />
		<CustomAction Id="UninstallModule" Return="ignore" Execute="deferred" Impersonate="no" Directory="SCHEMADIRECTORY" ExeCommand="&quot;[SystemFolder]inetsrv\appcmd.exe&quot; uninstall module /module.name:&quot;CGeoIPModule&quot;" />
		<?endif ?>
		<Component Id="ModuleConfig" Guid="21A2EDF5-B38C-4CCB-880E-9C01F3CC1D58" Directory="SCHEMADIRECTORY" KeyPath="yes">
			<CreateFolder />
			<!-- The module config -->
			<util:XmlConfig Id="appHostEntry"
							File="$(var.ConfigFile)"
							Action="create"
							ElementPath="//configuration/configSections/sectionGroup[\[]@name='system.webServer'[\]]"
							VerifyPath="section[\[] @name='CGeoIPModule'[\]]"
							Name="section"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="appHostEntryName"
							File="$(var.ConfigFile)"
							ElementPath="appHostEntry"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostEntryOverrideMode"
							File="$(var.ConfigFile)"
							ElementPath="appHostEntry"
							Name="overrideModeDefault"
							Value="Allow"
							Sequence="3" />

			<!-- Remove the module config -->
			<util:XmlConfig Id="removeAppHostEntry"
							File="$(var.ConfigFile)"
							Action="delete"
							Node="element"
							ElementPath="//configuration/configSections/sectionGroup[\[] @name='system.webServer'[\]]"
							VerifyPath="section[\[]@name='CGeoIPModule' and @overrideModeDefault='Allow'[\]]"
							On="uninstall"
							Sequence="1" />

			<!-- The module provider config -->
			<util:XmlConfig Id="adminModuleProvider"
							File="$(var.AdministrationConfigFile)"
							Action="create"
							ElementPath="//configuration/moduleProviders"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="adminModuleProviderName"
							File="$(var.AdministrationConfigFile)"
							ElementPath="adminModuleProvider"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="adminModuleProviderType"
							File="$(var.AdministrationConfigFile)"
							ElementPath="adminModuleProvider"
							Name="type"
							Value="CGeoIPModule.GeoblockModuleProvider, CGeoIPModuleUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f8b59b594cc1445d"
							Sequence="3" />

			<!-- Remove the module provider config -->
			<util:XmlConfig Id="removeAdminModuleProvider"
							File="$(var.AdministrationConfigFile)"
							Action="delete"
							Node="element"
							ElementPath="//configuration/moduleProviders"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />

			<!-- Add module for all sites -->
			<util:XmlConfig Id="adminModule"
							File="$(var.AdministrationConfigFile)"
							Action="create"
							ElementPath="//configuration/location[\[]@path='.'[\]]/modules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="adminModuleName"
							File="$(var.AdministrationConfigFile)"
							ElementPath="adminModule"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<!-- remove module for all sites -->
			<util:XmlConfig Id="removeAdminModule"
							File="$(var.AdministrationConfigFile)"
							Action="delete"
							Node="element"
							ElementPath="//configuration/location[\[]@path='.'[\]]/modules"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
	</Fragment>
</Wix>
